@charset "utf-8";
/* CSS Document */
body{
	background: #57120e;
    background: -moz-radial-gradient(center, ellipse cover, #57120e 0%, #081F33 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#57120e), color-stop(100%,#081F33));
    background: -webkit-radial-gradient(center, ellipse cover, #57120e 0%,#081F33 100%);
    background: -o-radial-gradient(center, ellipse cover, #57120e 0%,#081F33 100%);
    background: -ms-radial-gradient(center, ellipse cover, #57120e 0%,#081F33 100%);
    background: radial-gradient(ellipse at center, #57120e 0%,#081F33 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57120e', endColorstr='#081F33',GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.loginBox{
	width: 320px;
	background-color: white;
	margin: 0 auto;
	position: absolute;
	left: 42%;
	top: 26%;
	border: 1px solid black;
	border-radius: 20px;
}
.pdBot20{
	padding-bottom: 20px;
}
.postRelative{
	position: relative;
}
.setPost01{
	position: absolute;
	right: 20px;
	top: 10px;
}

