@charset "utf-8";
/* CSS Document */

flex: 1 0 auto;
}


}
.container {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    text-align: -webkit-center;
    color: #5c5c5c;
    font-weight: 400;
    font-size: 14px;
    padding: 15px;
}

.footer {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align: -webkit-center;
    color: #ffffff;
    font-weight: 400;
    font-size: 16	px;
    padding: 10px 0;

}

.subheader{
text-align:center;
}

.waves-effect{
text-align:center;
}

.side-nav a{
font-size:18px;
font-weight:400;
}

.side-nav .userView .name {
    margin-top: 20px;
    margin-bottom: 20px;
	text-align: center;
    font-weight: 500;
	font-size:20px;
}

.card-panel {
    transition: box-shadow .25s;
    padding: 10px;
    margin: 0rem 0px 0rem 0;
    border-radius: 0px;
    background-color: #fff;
    text-align: -webkit-center;
    font-size: 18px;
    font-weight: 400;
    /* text-transform: uppercase; */
    color: #000000;
}

.teal.lighten-2 {
    background-color: #f8f8f8 !important;
}

.center {
    text-align: -webkit-left;
    margin-top: -35px;
    margin-bottom: -13px;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    text-align: -webkit-center;
    color: #5c5c5c;
    font-weight: 400;
    font-size: 14px;
}

.side-nav .userView .circle {
    height: 130px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
	min-height:100%;
	position:relative;
}

a {
    color: #ce162c;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}



.side-nav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0,0,0,0.54);
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
}

#wrapper .top-nav {
    color: #fff;
    background-color:#F0F0F0;
    width: 100%;
	height: 85px;
}

.nav-wrapper span {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    color:#727272;
	width: 100%;
	font-weight:bold;
}

#content{
	text-align: center;
}

footer.page-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color:#595959;
	z-index:3;
}

.material-icons{
	font-size:33px;
}

.box{
	border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    margin-top: 25px;
	margin-left:300px;
	margin-right:300px;
}

.box-account{
	border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    margin-top: 25px;
	width:500px;
}

.box-admin{
	border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    width: 1200px;
    border-radius: 8px;
    margin-top: 25px;
}

.box-user{
	border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    width: 1200px;
    border-radius: 8px;
    margin-top: 25px;
}

.box-title{
	border-bottom: 2px solid #c7c7c7;
	padding: 15px 0;
	background-color:#f8f8f8;

}

.box2{
	width: 400px;
    border: 2px solid #c7c7c7;
	border-radius: 8px;
	margin:10px 10px;
	float: left;
}

.box-video {
    width: 100%;
    border: 2px solid #c7c7c7;
    border-radius: 8px;
	margin: 0 auto;
}

.box-trainee-add {
    border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    width: 550px;
}

.box-score-input {
    border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    width: 550px;
}

.box-trainee-view {
    border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    width:100%;
}

.box-course-add {
    border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    width: 550px;
}

.box-course-view {
    border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    width: 100%;
}

.box-course{
	border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    margin-top: 25px;
}

.box-course-content{
	border: 2px solid #c7c7c7;
    background-color: white;
    display: inline-block;
    width: 1328px;
    border-radius: 8px;
    margin-top: 25px;
}

.box-content-material{
    margin: auto;
    padding: 10px;
}

.fL{
	float: left;
}
.fR{
	float:right;
}

.box-content{
	padding: 10px 30px;
}

.box-button{
	 padding: 10px 30px;
}

.box-button{
	margin-bottom:10px;
}

label{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;
}

p{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;
	font-size:16px;
}

li{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif!important;
	color:#7C7C7C;
}

h2{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif!important;
	font-size:20px!Important;
	font-weight:bold!important;
	color:gray;
}

h3{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif!important;
	font-size:18px!important;
}

h1{
	margin-top:-22px!important;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	font-size:14px;
}

textarea.materialize-textarea:focus:not([readonly]) + label{
	font-size:14px;
}

.row{
	margin-top:10px;
}

.row .input-field input:focus {
   border-bottom: 1px solid #ce152b !important;
   box-shadow: 0 1px 0 0 red !important;
   font-size:14px;
 }

.input-field.col label {
    font-size:16px;
}

.input-field.col input:focus + label {
     color: #ce152b;
	 font-size:16px;

}

.row label{
	text-align:left;
}

.waves-effect{
	margin:0 5px;
}

.grey.darken-3 {
    width: 140px;
}

.red.darken-4 {
    width: 155px;
}

#fixedbutton {
    position: fixed;
    top: 23px;
    left: 45px;
}

img.responsive-img, video.responsive-video {
    max-width: 100%;
    height: 360px;
	width:480px;
}

.vivid{
	margin: 10px auto;
}

blockquote {
    border-left: 5px solid #ce152b;
	color:#595959;
}

ul .pagination{
	color:#2bbbad;
}

[type="checkbox"]+label {
    margin-left:14px;
}

.tabs .tab a {
    color:#444444;
	font-size:16px;
	font-weight:bold;
}

.tabs .tab a:hover {
    color: #ce152b;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ce152b;
    will-change: left, right;
}

.admin{
	font-size:16px;
	text-align:left;
}

.user{
	font-size:16px;
	text-align:left;
}

.picker__box {
    width: 450px;
		margin-left: -85px;
}

.picker__date-display {
    background-color: #ce152b;
}

.picker__weekday-display {
    background-color: #ce152b;
}

.picker__close, .picker__today {
    color: #ce152b;
}

.picker__day.picker__day--today {
    color: #ce152b;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #ce152b;
    color: #ffffff;
}

textarea.materialize-textarea:focus:not([readonly])+label{
	color: #ce152b;
	font-size:16px;
}

textarea.materialize-textarea:focus:not([readonly]){
 	border-bottom: 1px solid #ce152b;
	box-shadow: 0 1px 0 0 #ce152b;
 }

 .select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 50px;
    line-height: 0rem;
    width: 100%;
    font-size: 16px !important;
	font-weight:300;
	color:#5c5c5c;
    margin: 0px 0 0px 0;
    padding: 0;
    display: block;
}

input[type=text], textarea.materialize-textarea, .file-field input.file-path {
    margin: 5px 0;
    width: 100%;
	font-size:14px;
    /* padding-left: 5px; */
    /*margin-left: -23px;*/
}
.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 16px;
    transform: translateX(-10px);
    font-size: 10px;
}

.view_member{
	font-size:16px;
}

tr{
    font-size: 16px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	line-height:33px;
}

table.centered thead th{
    font-weight:bold;
	line-height:50px;
}

.select-wrapper+label {
    top: -23px;
}

.materialboxed{
	margin:0 65%;
	text-align:center;
}

.materialboxed.active {
    margin: 0;
}

box p .help{
	text-align:left;
	margin-left:20px;
}

.input-opt{
	height:50px !important;

}

body {
    background-image: url("/assets/images/symphony.png");
    header, main, footer {
        padding-left: 300px;
    }
    @media only screen and (max-width: 992px) {
        header, main, footer {
            padding-left: 0;
        }
    }
}

.button-collapse {
    position: absolute;
    left: 30px;
    top: 15px;
}

.logo {
    display: inline-block;
    width: 100%;
    height: 53px;
    }

input:not([type]).invalid+label:after, input:not([type]):focus.invalid+label:after, input[type=text].invalid+label:after, input[type=text]:focus.invalid+label:after, input[type=password].invalid+label:after, input[type=password]:focus.invalid+label:after, input[type=email].invalid+label:after, input[type=email]:focus.invalid+label:after, input[type=url].invalid+label:after, input[type=url]:focus.invalid+label:after, input[type=time].invalid+label:after, input[type=time]:focus.invalid+label:after, input[type=date].invalid+label:after, input[type=date]:focus.invalid+label:after, input[type=datetime].invalid+label:after, input[type=datetime]:focus.invalid+label:after, input[type=datetime-local].invalid+label:after, input[type=datetime-local]:focus.invalid+label:after, input[type=tel].invalid+label:after, input[type=tel]:focus.invalid+label:after, input[type=number].invalid+label:after, input[type=number]:focus.invalid+label:after, input[type=search].invalid+label:after, input[type=search]:focus.invalid+label:after, textarea.materialize-textarea.invalid+label:after, textarea.materialize-textarea:focus.invalid+label:after {
      content: attr(data-error);
      color: #F44336;
      opacity: 1;
      margin-top:12px;
      font-size:12px;

}

/*Baru*/
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 25%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}
/*
.modal.open{
		top: 40% !important;
}

.modal.close{
		top: 40% !important;
}
*/
/*Baru*/
.box-warn{
		background-color:#ce152b;
		display: inline-block;
		width: 300px;
		border-radius:3px;
		margin-top: 25px;

}

/*Baru*/
.box-succeed{
		background-color:#00AC6B;
		display: inline-block;
		width: 300px;
		border-radius:3px;
		margin-top: 20px;

}

.popup-box{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width:  500px;
	min-height: 500px;
	padding-bottom:  20px;
	text-align: center;
	z-index:  3;
	background-color: rgba(0,0,0,0.2);;
	color:  red;
	border: 1px solid black;
	transition:all ease-in-out .5s;
}
#check-flag{
	transition:all ease-in-out .5s;
}
.popup-box p{
	padding-bottom:  5px;
}
.top-change{
	top:  20%;
}
.top-none{
	top:  -1000px;
}
.btn-dismiss{
	position: absolute;
}

table{
    table-layout: fixed;
}

td{
    word-wrap:break-word
}
